{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
